body{
    margin: 0;
    padding: 0;
}

.just-bg{
    height: 100vh;
    background: url(../img/pexels-alex-azabache-5117913.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    margin: 2rem;
}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.primary-navigation{
    display: flex;
    column-gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    background: hsl(0 0% 100%/0.1);
        backdrop-filter: blur(0.1rem);
}

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.primary-navigation a [aria-hidden="true"] {
    font-weight: 700;
    color: white;
    margin-inline-end: 0.75em;
    
}

@media (max-width: 35em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;

        flex-direction: column;
        gap: 1em;
        font-size: 24px;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0 0% 100%/0.1);
        backdrop-filter: blur(0.1rem);
    }

    .mobile-nav-toggle{
        position: absolute;
        background: url(../img/icons8-menu.svg);
        background-size: cover;
        border: 0;
        z-index: 9999;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
}